.title-first {
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff;
}

.title-first__main {
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  display: block;
  animation: leftTorigth 1.5s;
  backface-visibility: hidden;
}

.title-first__secondary {
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  display: block;
  animation: rightToleft 1.5s;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-second {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url();
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s;
  backface-visibility: hidden;
}

.title-second:hover {
  transform: skewY(2deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-second_white {
  color: #fff;
}

.title-third {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

@keyframes leftTorigth {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes rightToleft {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes btnToup {
  0% {
    opacity: 0;
    transform: translate(0, 5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

.margin-bottom-5rem {
  margin-bottom: 5rem;
}

.margin-bottom-8rem {
  margin-bottom: 8rem;
}

.tex-align-center {
  text-align: center;
}

*, ::after, ::befor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 5rem;
  background-color: #fff;
}

.container {
  background-color: #f7f7f7;
  position: relative;
  z-index: 0;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #777;
  padding: 1.5rem 4rem;
  background-color: #fff;
  border-radius: 5rem;
  display: inline-block;
  transition: all .5s;
  position: relative;
  font-size: 2rem;
}

.btn:hover, .btn:link:hover, .btn:visited:hover {
  transform: translateY(-4px);
}

.btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
  opacity: 0;
  transform: scale(1.4, 1.7);
}

.btn:active, .btn:link:active, .btn:visited:active {
  tratransform: translateY(-2px);
}

.btn::after, .btn:link::after, .btn:visited::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn_animated, .btn:link_animated, .btn:visited_animated {
  animation: btnToup .5s ease-out .7s;
  animation-fill-mode: backwards;
}

.btn_brown {
  border: none;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #a14f03;
  color: #fff;
}

.btn_brown::after {
  background: #a14f03;
}

.btn-text {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 700;
  color: #a14f03;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px #a14f03 solid;
  display: inline-block;
  transition: all .5s;
}

.btn-text:hover {
  background: #ba8554;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2rem);
}

.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  position: absolute;
  z-index: 10;
  transition: all .2s;
}

.composition__photo_n1 {
  top: 0;
  left: 2rem;
}

.composition__photo_n2 {
  top: 2rem;
  right: 0;
}

.composition__photo_n3 {
  top: 12rem;
  right: 10rem;
}

.composition__photo:hover {
  outline: 0.5rem solid #ba8554;
  outline-offset: 1rem;
  transform: scale(1.1);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.adventure-card {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all .2s;
  height: 40rem;
}

.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.1);
}

.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url();
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.cards-tour {
  height: 50rem;
  -moz-perspective: 1500px;
  position: relative;
}

.cards-tour__side {
  height: 50rem;
  transition: all 1s;
  color: #fafffa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  overflow: hidden;
}

.cards-tour__side_front {
  background: #fff;
}

.cards-tour__side_back {
  background: linear-gradient(120deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  transform: rotateY(180deg);
}

.cards-tour:hover .cards-tour__side_front {
  transform: rotateY(-180deg);
}

.cards-tour:hover .cards-tour__side_back {
  transform: rotateY(0deg);
}

.cards-tour__img {
  background-blend-mode: hard-light;
  height: 40%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  margin-bottom: 7rem;
}

.cards-tour__img_1 {
  background: #ba8554 url(../img/tour-mg-1.jpg) center/cover;
}

.cards-tour__img_2 {
  background: #ba8554 url(../img/tour-mg-2.jpg) center/cover;
}

.cards-tour__img_3 {
  background: #ba8554 url(../img/tour-mg-3.jpg) center/cover;
}

.cards-tour__title {
  font-size: 2.8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: right;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  transform: skewY(3.33deg);
  position: absolute;
  top: 15.2rem;
  right: 0;
  width: 100%;
}

.cards-tour__dscrptn ul {
  color: #777;
}

.cards-tour__dscrptn ul li {
  font-size: 1.6rem;
  letter-spacing: 2rem;
}

.cards-tour__dscrptn ul li:not(:last-child) {
  margin-bottom: 2rem;
}

.cards-tour__backside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-tour__text {
  margin-bottom: 8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
}

.cards-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}

.cards-tour__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.feedback-card {
  width: 74%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 2rem;
  transform: skewX(330deg);
  margin-bottom: 8rem;
}

.feedback-card > * {
  transform: skewX(-330deg);
}

.feedback-card__img {
  width: 15rem;
  height: 15rem;
  background: green;
  float: left;
  border-radius: 40rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}

.feedback-card__img img {
  width: 100%;
  transform: scale(1.2);
  transition: all .5s;
}

.feedback-card__name {
  font-size: 2rem;
  lets: .2rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all .5s;
}

.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.book {
  height: 66rem;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.754027) 0%, rgba(224, 223, 223, 0.504727) 34%, rgba(214, 214, 214, 0.734419) 61%, rgba(161, 79, 3, 0.773634) 70%), url(../img/reg-img2.jpg) center/cover no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 2rem;
  padding-left: 5rem;
  z-index: 33;
}

.form__group:not(:last-child) {
  margin-bottom: 5rem;
}

.form:nth-last-child(4) {
  margin-bottom: 4rem;
}

.form__input {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 400;
  color: #000;
  padding: 2rem 0 2rem 2rem;
  background: #fff;
  border: none;
  border-bottom: .2rem solid transparent;
  border-radius: 5px;
  width: 70%;
}

.form__input:focus {
  outline: none;
  border-bottom: .3rem solid #66d763;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.form__input:focus:invalid {
  border-bottom: .3rem solid #d76364;
}

.form__label {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 400;
  color: #000;
  display: block;
  margin: 1rem 0 0 1.5rem;
  transition: .6s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: none;
}

.form__group-radio {
  width: 40%;
  display: inline-block;
  padding-left: 4rem;
}

.form__label-radio {
  cursor: pointer;
  position: relative;
}

.form__input-radio {
  display: none;
}

.form__button-radio {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.5rem solid #a14f03;
  display: block;
  position: absolute;
  left: -5rem;
  top: -1rem;
}

.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #a14f03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s all;
}

.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.navigation {
  display: none;
}

@media (max-width: 900px) {
  .navigation {
    display: inline;
  }
}

.navigation__main {
  padding: 1rem;
  height: 5rem;
  background: linear-gradient(130deg, #654625 0%, #333333 30%, #38321a 75%);
}

@media (max-width: 900px) {
  .navigation__main {
    display: none;
  }
}

.navigation__main__img {
  width: 10rem;
}

.navigation__main__list {
  list-style: none;
}

.navigation__main__item {
  display: inline-block;
}

.navigation__main__link:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 1000px) {
  .navigation__main__link:not(:last-child) {
    margin: 0 2rem 0 0;
    font-size: 1.2rem;
  }
}

.navigation__main__link:link, .navigation__main__link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 300;
  display: inline-block;
  transition: .2s all;
}

.navigation__main__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #ba8554;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.navigation__toggle {
  display: none;
}

.navigation__button {
  background: #fff;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#ba8554, #a14f03);
  position: fixed;
  right: 11rem;
  top: 11rem;
  z-index: 100;
  transition: all .7s;
  /* transform: scale(80) */
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
}

.navigation__item {
  text-align: center;
}

.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 4rem;
  color: #fff;
  letter-spacing: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  padding: 1rem 2rem;
  transition: all .4s;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #a14f03;
  transform: translateX(1rem);
}

.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__icon {
  position: relative;
  margin-top: 3.8rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: .2rem;
  background: #000;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}

.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  height: 95vh;
  background: url(../img/background1.png) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;
}

.header__logo {
  position: absolute;
  width: 3.2rem;
  left: 2rem;
  top: 2rem;
}

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

@media (max-width: 1240px) {
  [class^="col-"] {
    margin: 0 1rem 0 2rem;
  }
}

[class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 1240px) {
  [class^="col-"]:not(:last-child) {
    margin: 0 1rem 0 2rem;
  }
}

.col-1-of-2 {
  width: calc(( 100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc(( 100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2*(( 100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc(( 100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2*(( 100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc(3*(( 100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.footer {
  padding: 1rem;
  background: linear-gradient(130deg, #654625 0%, #333333 30%, #38321a 75%);
}

.footer__img {
  width: 10rem;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__link:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 1000px) {
  .footer__link:not(:last-child) {
    margin: 0 2rem 0 0;
    font-size: 1.2rem;
  }
}

.footer__link:link, .footer__link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 300;
  display: inline-block;
  transition: .2s all;
}

.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #ba8554;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.row-footer {
  margin-bottom: 2rem;
}

.section-aboute {
  padding-top: 8rem;
  margin-bottom: 12rem;
}

.adventure {
  padding: 21rem 0;
  background: url(../img/adventure.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  transform: skewY(2deg);
}

.adventure > * {
  transform: skewY(-2deg);
}

.tours {
  padding-top: 10rem;
}

.feedback {
  padding-top: 10rem;
  margin-bottom: 8rem;
  position: relative;
}

.section-book {
  padding: 10rem;
}
