.section-aboute
    padding-top: 8rem
    margin-bottom: 12rem

.adventure
    padding: 21rem 0
    background: url(../img/adventure.jpg) center/cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%)
    transform: skewY(2deg)
    &>*
        transform: skewY(-2deg)
.tours
    padding-top: 10rem
.feedback
    padding-top: 10rem
    margin-bottom: 8rem
    position: relative

.section-book
    padding: 10rem
    